// Flasher
$flasher-desktop-wrapper-width:                             500px !default;
$flasher-desktop-wrapper-margin:                            $flasher-desktop-wrapper-width / 10 !default;
$flasher-desktop-wrapper-z-index:                           10000000000000000000000000000000000000;

$flasher-mobile-wrapper-top:                                10px !default;
$flasher-mobile-wrapper-width:                              100% !default;